h1{
    font-family: cursive;
    color: black;
}
p{
    color: black;

     
}
#section{
    padding-bottom: 2%;
    font-size: 300%;
    font-weight: 700 /* rtl:600 */;
    background-image:url(img/fondo-de-panralla-total-inicio.png); 
    background-repeat: no-repeat ; 
    background-size: cover;
    
    
}
#menu{
    background-color: antiquewhite;
}
#h2{
    font-family: cursive;
    

}
    
#navbar{
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #34e89e, #0da9e7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #34e89e, #0fa6e2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
footer{
    background-color: white;
}
span{
    color: #0f915b;
}


.carousel-inner{
    width: 100%;
    max-height: 560px;
    text-align: center center;
   }
 

#card1{
    background-color: khaki;
    
    
}
#card2{
    background-color: rgb(233, 209, 73);
}
#card3{
    background-color: rgb(83, 79, 40);
}

.btn-success{
    background-color: rgb(35, 94, 94);
    color: rgb(231, 236, 236);
    width: 40%;
    height: auto;
}
.fw-normal{
    padding: 5%;
}
#boton-call-to-action{
    background-color: #0f915b;
}